/* Basic styling for Sock component, mostly just coloring and spacing options */
.sock{
    border: solid #7091E6 3px;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    background-color: white;
    text-align: left;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    padding-bottom: 5px;
    overflow: hidden;
    object-fit: fill;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        width: 80%;
    }
}

.header{
    margin-top: 2%;
}
