/* Basic styling for Sock component, mostly just coloring and spacing options */
.sock{
    border: solid #7091E6 3px;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    background-color: white;
    text-align: left;
    
}

.header{
    margin-top: 2%;
}
